version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    networks:
      - food-app

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - food-app
    
  admin:
    build: 
      context: ./admin
    container_name: admin
    ports:
      - "3000:5173"
    depends_on:
      - backend
    networks:
      - food-app

networks:
  food-app:
