apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv 
  labels:
    app: mongodb
    type: local
spec:
    storageClassName: "gp3"
    capacity:
      storage: 1Gi
    accessModes:
      - ReadWriteOnce
    persistentVolumeReclaimPolicy: Retain
    hostPath:
      path: "/home/ubuntu/data"